.Container_for_PrivateLimitedCompany {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.FirstBox_in_PrivateLimitedCompany {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FirstBox_innerBox1_in_PrivateLimitedCompany {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3%;
    flex-direction: column;
}

.FirstBox_innerBox2__in_PrivateLimitedCompany {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5%;
    padding-top: 1%;
    flex-direction: row;
}

.Text_top_section_in_PrivateLimitedCompany {
    font-size: 300%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_item_in_FirstBox_innerBox2__in_PrivateLimitedCompany {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text_box_in_FirstBox_innerBox2__in_PrivateLimitedCompany {
    font-size: 100%;
}

.display_none_in_PrivateLimitedCompany {
    display: flex;
}

.flex_item_in_FirstBox_innerBox2__in_PrivateLimitedCompany {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ImageBox_in_FirstBox_innerBox2__in_PrivateLimitedCompany {
    width: 20%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
}

.steps{
    color: black;
}

.SecondBox_in_PrivateLimitedCompany {
    width: 100%;
    display: flex;
}

.FirstInnerBox_SecondBox_in_PrivateLimitedCompany {
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: left;
    padding: 3%;
}

.SecondInnerBox_SecondBox_in_PrivateLimitedCompany {
    display: flex;
    flex-direction: column;
    width: 40%;
}
@media all and (min-width: 1001px) and (max-width: 1300px) {
    .Text_top_section_in_PrivateLimitedCompany {
        font-size: 250%;
    }

    .ImageBox_in_FirstBox_innerBox2__in_PrivateLimitedCompany {
        width: 30%;
        padding: 3%;
        height: 30%;
    }
}

@media all and (min-width: 851px) and (max-width: 1000px) {
    .Text_top_section_in_PrivateLimitedCompany {
        font-size: 190%;
    }

    .text_box_in_FirstBox_innerBox2__in_PrivateLimitedCompany {
        font-size: 90%;
    }

    .ImageBox_in_FirstBox_innerBox2__in_PrivateLimitedCompany {
        width: 30%;
        padding: 3%;
    }
}


@media all and (min-width: 651px) and (max-width: 850px) {
    .Text_top_section_in_PrivateLimitedCompany {
        font-size: 150%;
    }

    .text_box_in_FirstBox_innerBox2__in_PrivateLimitedCompany {
        font-size: 80%;
    }

    .ImageBox_in_FirstBox_innerBox2__in_PrivateLimitedCompany {
        width: 40%;
        padding: 3%;
    }
}


@media all and (min-width: 551px) and (max-width: 650px) {
    .Text_top_section_in_PrivateLimitedCompany {
        font-size: 150%;
    }

    .text_box_in_FirstBox_innerBox2__in_PrivateLimitedCompany {
        font-size: 80%;
    }

    .flex_item_in_FirstBox_innerBox2__in_PrivateLimitedCompany {
        width: 80%;
    }

    .FirstBox_innerBox2__in_PrivateLimitedCompany {
        flex-direction: column;
    }

    .display_none_in_PrivateLimitedCompany {
        display: none;
    }

    .ImageBox_in_FirstBox_innerBox2__in_PrivateLimitedCompany {
        width: 30%;
        padding: 4%;
    }
}


@media all and (min-width: 251px) and (max-width: 550px) {
    .Text_top_section_in_PrivateLimitedCompany {
        font-size: 130%;
    }

    .text_box_in_FirstBox_innerBox2__in_PrivateLimitedCompany {
        font-size: 80%;
    }

    .flex_item_in_FirstBox_innerBox2__in_PrivateLimitedCompany {
        justify-content: left;
        text-align: left;
        align-items: center;
        flex-direction: row;
    }

    .text_box_in_FirstBox_innerBox2__in_PrivateLimitedCompany {
        font-size: 100%;
        display: flex;
        justify-content: left;
        text-align: left;
        margin: 0;
    }

    .ImageBox_in_FirstBox_innerBox2__in_PrivateLimitedCompany {
        width: 30%;
        padding: 2%;
    }

    .extra_width_maintined{
        width: 17%;
    }

    .FirstBox_innerBox2__in_PrivateLimitedCompany {
        flex-direction: column;
    }

    .display_none_in_PrivateLimitedCompany {
        display: none;
    }

    .flex_item_in_FirstBox_innerBox2__in_PrivateLimitedCompany {
        width: 90%;
    }
    .steps{
        color: transparent;
    }
}